@import "../../../vendor/twitter/bootstrap/scss/_mixins.scss";
@import "../../../vendor/twitter/bootstrap/scss/_functions.scss";
@import "_variables.scss";


/*
==========================================================================
Tiki Manager Variables
==========================================================================
*/

$header-height: 70px;
$link-color:#007bff;
$main-nav-bg-color: #222;
$main-nav-color: #9d9d9d;
$main-nav-hover-bg-color: transparent;
$main-nav-hover-color: lighten($main-nav-color, 20%);
$footer-bg-color: #222;
$footer-color: #9d9d9d;




/*
==========================================================================
TRIM Mixins
==========================================================================
*/

@mixin regular {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:normal; font-style:normal;
}

@mixin bold {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold; font-style:normal;
}




/*
==========================================================================
TRIM Global Classes
==========================================================================
*/

.clearfix {
    *zoom: 1;
    &:before, &:after { content:" "; display:table; }
    &:after { clear:both; }
}

.center { text-align:center; }
.bold { @include bold(); }
.top { vertical-align:top; }
.left { float:left; }
.right { float:right; }
.hide { display:none; }




/*
==========================================================================
TRIM Base Styles
==========================================================================
*/

html, body { height:100%; }

body {
    @include regular();
    > .container {
        min-height:100vh; margin-bottom:-($header-height - 20);
        padding-top:$header-height + 15; padding-bottom:30px;
        &:after { content:""; display:block; height:$header-height - 20; }
    } // min-height:600px;
}

h1 { margin-bottom:35px; }
h3 { margin-bottom:20px; }
h4 { font-weight:bold; }
table th { @include bold(); }
pre { padding:9.5px; word-break:break-all; word-wrap:break-word; }
footer { font-size:0.85em; }




/*
==========================================================================
TRIM Main Styles
==========================================================================
*/

.trim-login {
    form { padding:30px 15px 15px; text-align:left; }
    label {
        display:inline-block; max-width:100%; margin-bottom:5px;
        text-align:left; @include bold();
    }
}

.trim-instance-main-list, .trim-instance-list {
    width:85%; margin:0 auto;
    #accordion { margin-bottom:30px; }
    ul {
        padding:0; list-style-type:none;
        li {
            position:relative; margin:15px 0; padding:20px;
            border:1px solid #ddd; text-align:left; cursor:pointer;
            a { font-size:1.5em; text-decoration:none; }
            > a { display:inline-block; width:100%; padding:20px; }
            span { font-size:0.75em; color:#888; }
            &:hover { background-color:#eee; }

            .contact {
                position:absolute; bottom:2px; left:0; width:100%; padding:0 20px;
                a {
                    font-size:1.1em;
                    &:hover { text-decoration:underline; }
                }
            }
            .url {
                display:inline-block;
                a:hover {
                    text-decoration:underline;
                    span { text-decoration:none; }
                }
                span { font-size:1.125em; }
                .blanks { font-size:1.5em; color:$link-color; }
            }
            .buttons {
                float:right;
                a { margin-left:10px; font-size:2em; }
                .fa-times {
                    color:orangered;
                    &:hover { color:darken(orangered, 15%); }
                }
            }
            &:hover .blanks { color:darken($link-color, 15%); }
        }
        &.archive {
            li {
                margin:10px 0; padding:0; text-align:center; border:none;
                &:hover { background-color:transparent; }

                a { padding:10px; width:auto; font-size:0.9em; white-space:normal; }
                span {
                    font-size:1em; color:#fff;
                    &.fa-times { margin-right:5px; font-size:1.5em; }
                }
            }
        }
    }

    &.restore ul.archive li {
        border:1px solid #ddd;
        span { color:#888; }
    }

    .alert {
        margin:0 20px 20px;
        .message { font-size:1em; color:$link-color; }
    }
    .new, .blank { margin:0 10px; }

    .card {
        margin:15px 0; border-radius:0;
        .card-header {
            padding:0; border-radius:0;
            a {
                display:block; width:100%; padding:20px; text-align:left;
                font-size:1.5em; text-decoration:none; background-color:#fff;
                &:hover, &:not(.collapsed) { background-color:#eee; }
            }
            span { font-size:0.75em; color:#888; }
        }
    }
}

.trim-instance-main-list {
    ul li > a { padding:20px 20px 30px 45px; }
    .url { padding-bottom:10px; }
    .lock {
        display:inline-block;
        span {
            color:orange;
            &:hover { color:darkorange; }
        }
    }
}

.trim-instance-list {
    ul.restore span { color:$link-color; font-size:1.5em; }
}

.trim-instance-view {
    width:85%; margin:0 auto;
    h2 { display:inline; }
    table {
        margin-top:20px;
        td { word-break:break-word; }
    }
    .archives {
        padding:10px 0;
        h2 { display:block; }
        ul { list-style-type:none; }
    }
    .update { float:right; font-size:1.4em; text-decoration:none; }
//	.back, .edit { margin:0px 10px; }
    .left { margin-right:10px; }
    .right { margin-left:10px; }
}

.trim-instance-edit, .trim-instance-new {
    width:85%; margin:0 auto;
    table {
        margin-top:20px;
        > tbody > tr > th { vertical-align:middle; }
        label { margin:0; }
        span { display:block; font-size:0.85em; }
    }
    .cancel, .save { margin:0px 10px; }
}

.trim-instance-view, .trim-instance-edit, .trim-instance-new {
    table { text-align:left; }
}

#trimModal {
    pre {
        max-height:500px; margin:0; background:black; color:gray;
        white-space:pre-wrap; border-radius:4px; border:1px solid #ccc;
    }
    span { display:block; }
    .cyan { color:cyan; }
    .orange { color:orange; }
    .red { color:red; }
}

.modal-dialog { max-width:$modal-lg; }




/*
==========================================================================
TRIM Responsiveness
==========================================================================
*/

// desktop
@include media-breakpoint-down(lg) {}


// tablet
@include media-breakpoint-down(md) {
    .modal-dialog { max-width:$modal-md; }
    .trim-instance-main-list {
        ul li { overflow:hidden; }
    }
}


// mobile
@include media-breakpoint-down(sm) {
    .trim-instance-main-list {
        ul li {
            .buttons { padding-bottom:10px; }
        }
    }
    .trim-instance-main-list, .trim-instance-list, .trim-instance-view,
    .trim-instance-edit, .trim-instance-new { width:100%; }
}


// small devices
@include media-breakpoint-down(xs) {
    .navbar-fixed-top .navbar-collapse { max-height:500px; }
    .dropdown-menu > li > a { color:#777; }
    .navbar-nav .open .dropdown-menu > li > a { padding:5px 30px; }

    .trim-instance-main-list, .trim-instance-list {
        &.restore, &.clone {
            ul li .buttons {
                padding-top:0;
                a { padding-top:10px; }
            }
        }
        .new, .blank { margin:10px; }
    }
    .trim-instance-list {
        ul li .buttons { padding-top:10px; }
    }
    .trim-instance-view {
        h2 { display:block; margin-top:0; }
        .bottom-nav {
            text-align:center;
            .left, .right { float:none; margin:0 10px 10px 0; }
        }
    }
}
